
:root{
  --bgc:#faf8f6;
  --text:#1a1a1a;
  --brand:#111213;
  --primary-clr:#ED526C;
  --primary-dark:#e04560;
  --border:#e7e2dd;
  --border2:#ED526C ;
  --partext:#636363;
  --border3:#8EAFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background:var(--bgc);
  color:var(--text);
  font-family:"Inter", sans-seri;
  position: re;
}
/* navbar */
.container {
   width: 100%;
   max-width: 1440px;
   padding-inline: 150px;
   margin-inline: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-block: 16px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo p {
    display: inline-block;
}
 
.logo img {
    width: 32px;
}

span{
    color: var(--partext);
}

.clock {
    color: var(--primary-clr);
    font-size: .95rem;
}



.divider{
    border: 1px solid var(--border);
}


/* navbutton */
.login {
    padding-inline: 24px;
    padding-block: 12px;
    background-color: #ffff;
    border-radius: 8px;
    color: var(--text);
    text-decoration: none;
    /* box-shadow:0 10px 24px #ee5a7240; */
    border: 1px solid var(--border2);
    transition: ease-in-out .20s;
}

.login:hover {
    background-color: var(--primary-dark);
    color:white
}
/* progressbar */

.progress-bar-container {
  /* width: 100%;
  margin: 35px auto 10px auto;
  height: 16px;
  background:transparent;
  border-radius: 20px;
  position: relative; */
  height:10px; 
  background:#FEF2F3; 
  border-radius:1rem;
  box-shadow: inset 0 0 0 1px #FCCFD5;
}

.progress_text {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}
.progress-bar {
  /* height: 16px;
  width: 0%;
  background: #ff9dbb;
  border-radius: 20px; */
  transition: width 0.3s;
   height:100%;
  background:var(--primary-clr); 
  border-radius:1rem;
  box-shadow: var(--shadow);
  width:25%;
}
#quiz-container {
  width: 100%;
  margin: 0 auto;
}
.question-text {
  font-size: 2rem;
  font-weight: bold;
  padding-block: 16px 0;
}
.sub-text {
  color: var(--partext);
  padding-bottom: 16px;
}
.options-list {
  /* margin-top: 10px; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 16px 0px;
}
.option-label {
  display: flex;
  align-items: center;
  /* background: #fff; */
  border: 2px solid var(--border);
  border-radius: .3rem;
  padding: .8rem;
  /* margin-bottom: 15px; */
  /* font-size: 1.2rem; */
  cursor: pointer;
  transition: border-color 0.3s;
}
.option-label .letter {
  background: #ffd2de;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  /* font-weight: bold; */
  color:var(--text);
  margin-right: 18px;
  font-size: 1.1rem;
}
.option-label:hover {
  border-color: #8EAFFF;
}
.option-label.correct {
  border-color: #71A894 !important;
}
.option-label.wrong {
  border-color: #ED526C !important;
}

.progress-btn {
   display: flex;
    justify-content: space-between;
    padding-block: 16px;
    align-items: center;
}
/* button {
  padding: 8px 26px;
  border: 2px solid #ff9dbb;
  background: #fff;
  color: #e24583;
  border-radius: 8px;
  font-size: 1.1rem;
  margin: 0 13px;
  cursor: pointer;
  transition: box-shadow 0.2s;
} */

#next-btn {
    padding-inline: 24px;
    padding-block: 12px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow:0 10px 24px rgba(238,90,114,.25);
    border: none;
    font-size: 1.01rem;
}

#next-btn:hover {
  background-color: var(--primary-dark);
}

#prev-btn {
    padding-inline: 24px;
    padding-block: 12px;
    border-radius: 8px;
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--border2);
    background-color:#ffff;
    font-size: 1.01rem;
    color: black;
}

#prev-btn:hover {
   border-color: var(--primary-dark);
     box-shadow:0 6px 16px rgba(0,0,0,.06);
}
button:active {
  box-shadow: 0 2px 7px #ff9dbb44;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
#status {
  color: #666;
  font-size: 1.1rem;
}

.foooter-content{
  position:absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 16px;
}

.footer {
    border: 1px solid var(--border);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}