


.scoreboard-container {
 background: linear-gradient(135deg, #e6f8ea 40%, #d1f3dd 60%, #bff0d0 100%);
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0 10px 30px rgba(0,0,0,0.05); */
  width: 80%;
  margin-top: 32px;
  border: 1px solid var(--border);
}

/* Trophy Icon */
.trophy-icon {
  font-size: 60px;
  color: #4caf50; /* Green trophy */
  margin-bottom: 20px;
  background-color: rgba(76, 175, 80, 0.2); /* Light green circle bg */
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.main-title {
  color: rgb(52, 66, 86);
  margin: 0;
  font-size: 3rem;
  font-weight:  bold;
}

.sub-title {
  color: #7f8c8d;
  margin: 5px 0 20px 0;
  font-size: 1.2rem;
}

.score-percentage {
  font-size: 80px;
  font-weight: bold;
  color: #16a249; /* Bright Green */
  margin: 10px 0;
}

.feedback-text {
  color: #7f8c8d;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

/* Stats Row */
.stats-row {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dcdcdc;
  padding-top: 20px;
}

.stat-box {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.stat-label {
  font-size: 16px;
  color: #95a5a6;
  margin-top: 5px;
}

.correct-color { color: #27ae60; } /* Green */
.wrong-color { color: #e74c3c; }   /* Red */

/* Home Button */
.home-btn {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: background 0.3s;
}
.home-btn:hover {
  background-color: #f9f9f9;
}
