
:root{
  --bgc:#faf8f6;
  --text:#1a1a1a;
  --brand:#111213;
  --primary-clr:#ED526C;
  --primary-dark:#e04560;
  --border:#e7e2dd;
  --border2:#ED526C ;
  --partext:#636363;
  --border3:#8EAFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background:var(--bgc);
  color:var(--text);
  font-family:"Inter", sans-seri;
}

.container {
   width: 100%;
   max-width: 1440px;
   padding-inline: 150px;
   /* padding-block: 16px; */
   margin-inline: auto;
   /* display: flex;
   align-items: center; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-block: 16px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo p {
    display: inline-block;
}
 
.logo img {
    width: 32px;
}



.divider{
    border: 1px solid var(--border);
}

span{
    color: var(--partext);
}

.clock {
    color: var(--primary-clr);
}

.progress {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
}

.progress-bar{
  height:10px; 
  background:#FEF2F3; 
  border-radius:1rem;
  box-shadow: inset 0 0 0 1px #FCCFD5;
}
.bar{
  height:100%;
  background:var(--primary-clr); 
  border-radius:1rem;
  box-shadow: var(--shadow);
  width:25%;
}

.twoforth {
    width: 50%;
}

.threeforth {
    width: 75%;
}

.one {
    width: 100%;
}

.content {
    padding-block: 16px;
}

.question {
    font-size: 2rem;
}

.para {
    color: var(--partext)
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 16px 0px;
}

.option {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--border);
    border-radius: .3rem;
    padding: .8rem;
    
}


span:hover {
    color: var(--text);
}


.option-btn {
    all: unset;
    padding: 1rem;
    border: 1px solid #FCCFD5;
    background-color: transparent;
    border-radius: .3rem;
    
}

input[type="radio"] {
    display: none;
}

.option span:hover {
    color: var(--text);
} 



.option:hover {
    cursor: pointer;
    color: var(--text);
    border: 2px solid #8EAFFF;
}



.disk {
    width:32px;
    height: 32px;
    background-color: #FCCFD5;
    text-align: center;
    border-radius: 50%;
    align-content: center;
    color: var(--text);
}

.ans {
    width: 100%;
}

.ans:hover {
    color: var(--text);
}

.progress-btn {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    align-items: center;
}

.next-btn {
    padding-inline: 24px;
    padding-block: 12px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow:0 10px 24px rgba(238,90,114,.25);
}


.preview-btn {
    padding-inline: 24px;
    padding-block: 12px;
    border-radius: 8px;
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--border2);
    background-color:#ffff;
}

.preview-btn:hover {
    border-color: var(--primary-dark);
     box-shadow:0 6px 16px rgba(0,0,0,.06);
}

.next-btn:hover {
    background-color: var(--primary-dark);
}

.card  {
    padding-block: 16px;
}

.card-content {
    height: 450px;
    width: 50%;
    margin-inline: auto;
    border:1px solid var(--border);
    box-shadow: 1px solid #FCCFD5;
    box-shadow:0 10px 24px rgba(238,90,114,.25);
    
}

